@page "/home"
@page "/"

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@Icons.Material.Filled.Group" Color="Color.Primary" Style="width: 250px; height: 250px;" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2">Uniform</MudText>
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">Uniform App build by CadiahK.</MudText>
        </MudItem>
        <div style="margin:50px"></div>
    </MudGrid>
</MudContainer>